os:
  - linux
language: generic
sudo: required
dist: xenial
before_install:
  - sudo apt-get install -y clang libicu-dev libglm-dev cmake libxcb-dri3-0 libxcb-present0 libpciaccess0 libpng-dev libxcb-keysyms1-dev libxcb-dri3-dev libx11-dev libmirclient-dev libwayland-dev libxrandr-dev libxcb-ewmh-dev xorg-dev
  - git clone https://github.com/glfw/glfw && mkdir build && cd build && cmake ../glfw && make -j4 && sudo make install
before_script:
  - curl https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
  - sudo bash -c "curl -sS https://packages.lunarg.com/vulkan/1.1.97/lunarg-vulkan-1.1.97-xenial.list >> /etc/apt/sources.list.d/lunarg-vulkan-1.1.97-xenial.list"
  - sudo apt-get update -q
  - sudo apt-get install -y lunarg-vulkan-sdk
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - swift build
env:
  - SWIFT_VERSION=4.2